{% block title %}Log in!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/signin.css')}}">

{% endblock %}

{% block body %}

	<body class="text-center bg-dark ">
		<main class="form-signin">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 fw-normal text-white">Bienvenue
				</h1>

				<div class="form-floating">
					<input type="text" value="{{ last_username }}" name="username" id="floatingInput" class="form-control text-black" autocomplete="username" required autofocus>
					<label class="text-black" for="floatingInput">Username</label>
				</div>

				<div class="form-floating  mt-3 ">
					<input type="password" name="password" id="floatingInput" class="form-control " autocomplete="current-password" required>
					<label class="text-black" for="floatingInput">Password</label>
				</div>
				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
																																																																																																																																																																												        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																																																																																																																																												        See https://symfony.com/doc/current/security/remember_me.html
																																																																																																																																																																												
																																																																																																																																																																												        <div class="checkbox mb-3">
																																																																																																																																																																												            <label>
																																																																																																																																																																												                <input type="checkbox" name="_remember_me"> Remember me
																																																																																																																																																																												            </label>
																																																																																																																																																																												        </div>
																																																																																																																																																																												    #}

				<button class="w-100 btn btn-lg btn-primary" type="submit">
					Connectez-vous
				</button>
			</form>

		</main>
	</body>

{% endblock %}
