<body class="d-flex h-100 text-center text-white bg-dark">

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<header class="mb-auto">
			<div>
				<h3 class="float-md-center mb-0">Cover</h3>
				<nav class="nav nav-masthead justify-content-center float-md-end"></nav>
			</div>
		</header>

		<main class="px-3">
			<h1>Gestion Etudiant</h1>
			<p class="lead">Plateforme de la gestion des notes et des etudiants par classe</p>
			<p class="lead">
				<a href="{{path('app_login')}}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Connectez-Vous</a>
			</p>
		</main>
