{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

	<div class="jumbotron">
		<h1 class="display-4">Tableau de bord d'administration</h1>
		<p class="lead">
			Bienvenue dans l'interface d'Administration de la Plateforme
		</p>
		<div class="container">
			<div class="row">
				<h4>Recapitulatif</h4>
			</div>
			<div class="row">
				<div class="col-5 alert-info mr-4 text-center">
					Nous disposons de
					<span class="display-3">{{Countetudiant['value']}}</span>
					Etudiants
				</div>
				<div class="col-5 alert-dark text-center">
					Nous disposons de
					<span class="display-3">{{Countfiliere['value']}}</span>
					Filieres
				</div>
			</div>
		</div>
	</div>

{% endblock %}
