<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Gestion ETUDIANT
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																																																						           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}">
			<link
			rel="stylesheet" href="{{asset('assets/css/cover.css')}}">
		{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

	</head>
	<body>
		{% include 'base/body.html.twig' %}
		{% include 'base/footer.html.twig' %}
		{% block body %}{% endblock %}
	</body>
	<script src={{asset("assets/js/dashboard.js")}}></script>
	{% block javascripts %}
		{#{{ encore_entry_script_tags('app') }}#}
	{% endblock %}
</html></body></html>
